<%= form_with model: [@level, @highscore] do |form| %>
  <% if @highscore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@highscore.errors.count, "error") %> prohibited this highscore from being saved:</h2>

      <ul>
      <% @highscore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :highscore_name %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :highscore_time %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, id: :highscore_score %>
  </div>

  <div class="field">
    <%= form.label :level_id %>
    <%= form.text_field :level_id, id: :highscore_level_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
