<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @level.name %>
</p>

<p>
  <strong>Gamemode:</strong>
  <%= @level.gamemode %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @level.image_url %>
</p>

<p>
  <strong>Game:</strong>
  <%= @level.game.name %>
</p>

<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @level.highscores.each do |highscore| %>
      <tr>
        <td><%= highscore.name %></td>
        <td><%= highscore.time %></td>
        <td><%= highscore.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>